.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 16px 19px 16px;
    margin-top: auto;

    @media (min-width: 768px) {
        padding: 0px 16px 40px 16px;
        margin-top: 0px;
    }

    &__icon {
        width: auto;
    }

    &__discription {
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #969FA8;
        margin-top: 8px;
    }
}