// == MEDIA == //
$m360: "360px";
$m414: "414px";
$m550: "550px";
$m768: "768px"; // не используется ?
$m896: "896px";
$m1024: "1024px";
$m1280: "1280px";
$m1360: "1360px";
$m1440: "1440px"; // не используется ?
$m1600: "1600px";
$ff-1: "MTS Sans",
Arial,
Helvetica,
sans-serif;
$color-mts: #ea212e;
$ff-old-1: "Fira Sans";
$ff-old-2: "Inter";


// == COLORS == //
$color-gray-100: #001424;
$color-gray-200: #000;
$color-gray-300: #6E7782;
$color-gray-400: #9198A0;
$color-gray-500: #BBC1C7;
$color-gray-600: #E2E5EB;
$color-gray-700: #F2F3F7;
$color-white: #FFFFFF;
$color-red-100: #E30611;
$color-red-200: #C8050F;
$color-red-300: #AD050D;
$color-blue-100: #007DBB;
$color-blue-200: #006EA5;
$color-blue-300: #005F8E;
$color-green-100: #009A00;
$color-green-200: #008800;
$color-green-300: #007500;
$color-orange-100: #E06400;
$color-orange-200: #C55800;
$color-orange-300: #AA4C00;
$color-pink-100: #f0dcf08a;
$neutral-100: #000000;
$neutral-200: #2C3135;
$neutral-300: #626C77;
$neutral-400: #969FA8;
$neutral-500: #BBC1C7;
$neutral-600: #E2E5EB;
$neutral-700: #F2F3F7;
$neutral-800: #FFFFFF;
